<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <!-- FALTA AGREGAR EL HREF EN EL LINK -->
                <a class="navbar-brand">
                    <img class="img" src="../../../../assets/images/logoNegativo.png">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-1 active">CUSTOM 21</a>
            </li>
        </ul>

        <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink='products'>Prendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contacto</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!token" class="nav-link" (click)="validarToken()" routerLink='login'>login</a>
                    <a *ngIf="token" class="nav-link" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>