.card-login{
    background-color: #595C63;
    color: #ECECEC;
    text-align: center;
    border-radius: 50px;

}

.rounded-input{

    border-radius: 33px;
    background-color: #D0D1D3;
    color: #214781;
    
    
}

.rounded-button{    
    width:100%;
    border-radius: 33px;
    background-color: #D0D1D3;
    color: #212529;

}
.rounded-button-unirse{
    width:100%;
    border-radius: 33px;
    background-color: #E389A0;
    color: white;
}

.fs-8{
    font-size: 0.7em;
}

.fa {
    font-size: 12px;
}
.card-unete{
    background-color: #C1C1C1;
    border-radius: 50px;
}