<div class="container">
  <p class="mx-5">Inicio - Acceder</p>
  <div class="row">
    <div class="col-md-5">
      <div class="card card-login">
        <div class="card-body">
          <div class="mx-5">
            <h1 class="mb-5">Iniciar Sesión</h1>
            <input type="email" class="form-control rounded-input mb-4" placeholder="Correo Electrónico">
            <input type="password" class="form-control rounded-input mb-4" placeholder="Contraseña">
            <div class="mb-4"><a>¿Olvidaste tu contraseña?</a></div>
            <div class="mx-5">
              <button type="button" class="btn rounded-button">Ingresar</button>
              <p class="fs-8">He leído y acepto los Términos y Condiciones de privacidad de Custom 21.</p>
            </div>
            <p class="fs-8" style="text-align:left;">Ingresa también con</p>
            <div class="row mx-5">
              <div class="col">
                <i class="fab fa-google fa-2x"></i>
              </div>
              <div class="col">
                <i class="fab fa-instagram fa-2x"></i>
              </div>
              <div class="col">
                <i class="fab fa-facebook fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2>Unite y obtené beneficios exclusivos. </h2>
        <div class="card-unete my-5">
          <div class="container py-2">
            <p><strong>Unite</strong> al mundo Custom21:</p>
            <p><strong>Disfrutá</strong> inmediatamente de todas las noticias y accesos anticipados a nuestros
              diseños.</p>
            <p><strong>Accedé</strong> a la venta de productos de edición limitada.</p>
            <p><strong>Recibí</strong> nuestras mejores ofertas y promociones personalizadas a tus gustos.</p>
            <p><strong>Viví</strong> una nueva aventura con nosotros, y divertite descubriendos nuevos mundos.</p>
          </div>
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn rounded-button-unirse">Unirse Ahora</button>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">REGISTRATE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col">
              <input type="text" class="form-control rounded-input mb-4" placeholder="Nombre">
            </div>
            <div class="col">
              <input type="text" class="form-control rounded-input mb-4" placeholder="Apellido">
            </div>
          </div>

          <input type="email" class="form-control rounded-input mb-4" placeholder="Correo Electrónico">

          <div class="row">
            <div class="col">
              <input type="password" class="form-control rounded-input mb-4" placeholder="Contraseña">
            </div>
            <div class="col">
              <input type="password" class="form-control rounded-input mb-4" placeholder="Validación de contraseña">
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control rounded-input mb-4" placeholder="Celular">
            </div>
            <div class="col">
              <input type="text" class="form-control rounded-input mb-4" placeholder="DNI">
            </div>
          </div>

          <input type="text" class="form-control rounded-input mb-4" placeholder="Localidad">

          <div class="row">
            <div class="col">
              <input type="text" class="form-control rounded-input mb-4" placeholder="Dirección">
            </div>
            <div class="col">
              <input type="text" class="form-control rounded-input mb-4" placeholder="Número">
            </div>
          </div>

          <button type="button" class="btn rounded-button-unirse">Unite</button>
          
        </div>

      </div>
    </div>
  </div>


</div>
