<div class="container">
  <p class="mx-5">Inicio - Acceder</p>
  <div class="row">
    <div class="col-5">
      <div class="card card-login">
        <div class="card-body">
          <div class="mx-5">
            <h1 class="mb-5">Iniciar Sesión</h1>
            <input type="email" class="form-control rounded-input mb-4" placeholder="Correo Electrónico">
            <input type="password" class="form-control rounded-input mb-4" placeholder="Contraseña">
            <div class="mb-4"><a>¿Olvidaste tu contraseña?</a></div>
            <div class="mx-5">
              <button type="button" class="btn rounded-button">Ingresar</button>
              <p class="fs-8">He leído y acepto los Términos y Condiciones de privacidad de Custom 21.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body card-login">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>
