.card-login{
    background-color: #595C63;
    color: #ECECEC;
    text-align: center;
    border-radius: 50px;

}

.rounded-input{

    border-radius: 33px;
    background-color: #D0D1D3;
    color: #B5B6BA;
    
}
.rounded-button{    
    width:100%;
    border-radius: 33px;
    background-color: #D0D1D3;
    color: #212529;

}

.fs-8{
    font-size: 0.7em;
}